<div class="col-md-6" id="listOfErrors">
    <table class="table table-condensed">
        @if (ViewBag.Errors != null)
        {
            foreach (var c in ViewBag.Errors)
            {
                <tr>
                    <td>@c.EMPID</td>
                    <td>@c.Name</td>
                    <td>@c.Count</td>
                    <td>
                        <button class="btn btn-xs btn-danger" onclick="d(@c.Id)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                </tr>
            }
        }

    </table>
</div>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script type="text/javascript">
    function d(id) {
        var url = "/home/delete/";
        $.post(url, { id: id })
            .done(function (response) {
                $("#listOfCustomers").html(response);
            });
</script>

