@{ 
    Layout = "~/View/_MessagePartialView.cshtml";
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<style>
    .add-margin{
        margin:30px;
        border:dashed #00ffff 2px;
    }
</style>
<div class="alert-info add-margin">
    <h2> @ViewBag.Message.</h2>

</div>


