@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<style>
    .add-margin{
        margin:30px;
        border:dashed #00ffff 2px;
    }
    h2{
        text-align:center;
        padding:10px;
    }
</style>
<div class="alert-info add-margin">
    <h2> @ViewBag.Message.</h2>

</div>


